* {
  box-sizing: border-box;
  outline: none;
}
html,
:root {
  /* --bg: #bed2ed; */
  --bg: #050c3aed;
  --container: #f0f3f8;
}
.recipePage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: var(--bg, #050c3aed);
}

.container {
  height: 90vh;
  width: 90vw;
  background: var(--container, #050c3aed);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
  padding:  1rem 3rem;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Quicksand','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 auto;
  color: #999;
}

.navArrow {
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #888;
  font-weight: 700;
  transition: all 150ms linear;
}
.navArrow:hover {
  transform: scale(1.5);
}

.navSearch {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}

.nav form {
  display: inline-flex;
}

/**
*
* Recipe Layout
*/
.row {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3rem;
  padding-right: 3rem;
}
.recipeImage {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  box-shadow: 0 10px 30px 5px rgba(0,0,0,0.20);
}

.recipeTitle {
  font-size: 16px;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 2px;
}
.recipeRating i {
  font-size: 10px;
  margin-right: 5px;
  color: #f07374;
}
.recipeRating i:nth-child(5) {
  color: var(--bg, #bed2ed);
}
.recipeDescription {
  font-size: 12px;
  line-height: 2;
  font-weight: 900;
  font-family: 'Quicksand','Times New Roman', Times, serif;
  margin: 25px auto;
  color: #aaa;
}
.recipeTime {
  font-size: 12px;
  line-height: 2;
  font-weight: 900;
  font-family: 'Quicksand','Times New Roman', Times, serif;
  color: #333;
}
.dietLabels span,
.ingredients span {
  font-size: 14px;
  line-height: 2;
  font-weight: 900;
  font-family: 'Quicksand','Times New Roman', Times, serif;
  color: #333;
  margin-bottom: 5px;
}
.dietLabels > *:not(span) ,
.ingredients > *:not(span) {
  font-size: 12px;
  line-height: 2;
  font-weight: 900;
  font-family: 'Quicksand','Times New Roman', Times, serif;
  color: #999;
  margin-bottom: 1px;
}

/**
* HEADER
*/
.headerForm {
  height: 30px;
  border-radius: 20px;
  background: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  display: inline-block;
}
.headerBtn {
  border: none;
  height: 30px;
  color: #fff;
  background: #050c3aed;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
}